@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
html{
    font-family: 'Roboto Condensed';
}

body{
    background-image: linear-gradient(
      rgba(0, 2, 100, 0.7), 
      rgba(0, 2, 100, 0.7)
    ),
    url(img/737-2880x1920.jpg);
    background-position: center;
}

.container{
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: rgba(214, 214, 214, 0.5);
    text-align: center;
}

.content{
    padding-top: 50px;
}

h1{
    color: white;
}


input{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: hidden;
    font-size: 1.3rem;
    background-color: rgba(214, 214, 214, 0.5);

}

input::placeholder{
    color:white;
    font-weight: bold;
    padding-left: 10px;
}

button{
    font-weight: bold;

    font-size: 1.3rem;
    background-color: blue;
    color: white;
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    border: hidden;
}

a{
    color: white;
    font-size: 1.3rem;
    display: block;
    padding-top: 20px;
    text-decoration: none
}