*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


article{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 5%;
}

.sign-in{
    height: 500px;
    width: 300px;
    box-shadow: 10px 10px 0px #d1d9e6, -10px -10px 0px #f9f9f9;
    background-color: #ecf0f3;
}

.info{
    margin-top: 55%;
}

.info p{
    margin-left: 20px;
    margin-right: 20px;
}


.info h1{
    font-size: 2rem;
}


.info button{
    background-color: #4b70e2;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.info>*{
    margin-top: 10%;
}

.register{
    background-color: #ecf0f3;
    width: 400px;
    box-shadow: 0px 10px 10px #d1d9e6, 0px -10px 10px #f9f9f9;
}


.content{
    margin-top: 15%;
}

.content>*{
    margin-top: 5%;
}

.icon{
    display: inline-block;
    border: solid 1px grey;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.icon .fab{
    position: relative;
    top: 5px;
    left: 1px;
    color: grey;
}

p{
    color: grey;
    font-size: 0.8rem;
}


input{
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 60%; 
    padding: 9px;
    border: none;
    border-radius: 10px;
    background-color:  #ecf0f3;
}

button{
    margin-top: 20px;
    background-color: #4b70e2;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}