html{
    font-family: Arial, Helvetica, sans-serif;
}



body{
    background-image: url(img/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
}
.container{
    margin: auto;
    width: 30%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}
.icon{
    width: 100%;
}

.info{
    text-align: center;
    padding: 20px;
}

.plan-container{
    background-color:rgb(223, 219, 219);
    border-radius: 10px;
    padding: 20px;
    height: 30px;
    padding-top: 10px;
}

.plan{
    text-align: left;
    float: left;
}

.plan-title{
    margin: 0;
    font-size: 0.8rem;
}
.plan-price{
    margin: 3px 0 ;
    font-size: 0.8rem;
}

.change{
    float: right;
    color: rgb(19, 56, 117);
}

.prueba{
    font-size: 0.7rem;
}

.icon-m{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    text-align: center;
    float: left;
    color: rgb(77, 77, 77);
    background-color:rgb(101, 151, 233);
    margin-right: 20px;
}

.btn{
    background-color: rgb(101, 151, 233);
    color: white;
    border: solid;
    border-radius: 10px;
    padding: 10px 40px;
    margin-top: 20px;
}