*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #101827;
}

section{
    padding: 10px;
    margin-top: 10px;
}

h2{
    display: inline-block;
    position: relative;
    color: white;
}

input{
    display: block;
    margin-bottom: 2%;
    margin-top: 10px;
    background-color:rgb(29, 40, 60);
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

a{
    position: absolute;
    right: 20px;
    color: white;
    background-color: #2869ff;
    width: 120px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 35px
}

article{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin-bottom: 30px;
    margin-left: 10px;
}

.card-body{
    width: 360px;
    height: 330px;
    background-color:rgb(29, 40, 60);
    border-radius: 5px;
}

img{
    position: relative;
    left: 5px;
    top: 5px;
    width: 350px;
    height: 190px;
    border-radius: 5px;
}

.container{
    padding: 5px;
    color:#fff;
    line-height: 25px;
}

.col-1{
    color: #818792;
    float: left;
}


.col-2{
    text-align: right;
    float: right;
}

.active{
    font-size: 0.8rem;
    text-align: center;
    color: rgb(173, 255, 47);
    background-color: rgba(173, 255, 47, 0.1);
    border-radius: 5px;
}

.disabled{
    font-size: 0.8rem;
    text-align: center;
    width: 60px;
    color:rgb(102, 136, 195);
    background-color: rgb(102, 136, 195, 0.1);
    border-radius: 5px;
}